@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@200;400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------------------- General */
* {
	color: #230005;
}

body {
	background-color: #fafafa
}

.custom-button {
    padding: .25em .5em;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
    margin-bottom: .5rem;
    width: fit-content;
    transition-duration: .25s;
    color: #010203;
	position: relative;
	z-index: 1;
	background-color: #faf9f6;
	text-shadow: 1px 1px 1px #a7a7a7;

}

.button-developer {
	border: 2px solid #ffadbb;
}

.button-link {
	border: 2px solid #ca165e;
}

a {
	text-decoration: none;
}

.footer-text {
	line-height: 50px;
}

.header-text {
	color: #faf9f6;
	text-shadow:
				-2px -2px 2px #6924125b,
				1px 1px 0px #010203,
				2px 2px 1px rgba(0, 0, 0, .75),
				3px 3px rgba(0, 0, 0, 0.452)
				;
}

/* -------------------- Game / Index */

.game-container {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.message-container {
	height: 30px;
	width: 120px;
	background-color: #ffadbb;
	color: #230005;
	font-family: 'Raleway', sans-serif;
}

.title-container {
	text-align: center;
	width: 510px;
	border-bottom: solid 1px #D6D6D6;
}

.tile-container {
	width: 330px;
	margin-bottom: 38px;
	flex-wrap: wrap;
}

.key-container {
	width: 510px;
	display: flex;
	flex-wrap: wrap;
}

.key-container button {
	width: 43px;
	height: 58px;
	border-radius: 4px;
	border: none;
	background-color: #bebebe;
	color: #230005;
	margin: 4px;
}

.key-container button:nth-child(21),
.key-container button:nth-child(28) {
	width: 80px;
	height: 58px;
	border-radius: 10%;
}

.tile-container div {
	display: flex;
}

.tile-container .tile {
	width: 70px;
	height: 62px;
	border-radius: 5%;
	border: 2px solid #230005;
	margin: 4px 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* -------------------- Developer Page */
.developer-container {
	min-height: calc(100vh - 100px)
}

.card-custom {
	position: relative;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .35),
				inset 2px 2px 4px rgba(51, 51, 51, 0.493),
				inset -2px -2px 4px rgba(51, 51, 51, 0.493),
				inset 2px -2px 4px rgba(51, 51, 51, 0.493),
				-2px -2px 4px rgba(51, 51, 51, 0.699);
	border-color: #961146;
	border-width: 2px;
	border-radius: 10px;
	color: #a7a7a7;
}


.card-filter {
	position: absolute;
	height: 100%;
	width: 100%;
	box-shadow:inset 2px 2px 4px rgba(51, 51, 51, 0.75),
				inset -2px 0px 4px rgba(51, 51, 51, 0.75);
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.card-custom img{

	/* max-height:5rem; */
	/* border-bottom: 1px solid #230005; */

	border-top-right-radius: 8px;
	border-top-left-radius: 8px;

}

.name-text {
	color: #444;
	text-shadow: -2px -2px 2px #faedc693,
				1px 1px 0px #ffadbb,
				2px 2px 1px rgba(0, 0, 0, .55);
}

.info-text {

	color: #230005;
	text-shadow:
	 /* -2px -2px 2px #faedc65b */
				1px 1px 2px #747474
				/* 2px 2px 1px rgba(0, 0, 0, .75), */
				/* 3px 3px rgba(0, 0, 0, 0.452) */
				;

	color: #010203;
	text-shadow: 1px 1px 2px #747474;

}
/*For mobile screens*/
@media (max-width: 991px) {
	.tile-container {
		transform: scale(.9);
		margin-bottom: 1px;
	}
    .key-container {
		transform: scale(.73);
		/* padding-left: 5px; */
	}
	footer {
		display: none;
	}
}