@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300;1,400&display=swap');

:root {
	--dark: #230005;
	--light-bc: #fffefc;
	--intense-red: #ca165e;
	--light-pink: #ffc0cb;
	--silver-pink: #bea3a7;
}


/* -------------------- General */
* {
	color: var(--dark);
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
}

body {
	max-width: 2000px;
	margin: 0 auto;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	font-weight: 900;
	font-size: 3rem;
	margin-bottom: 0!important;	
}

body {
	background-color: var(--light-bc)
}

/*----------------------Navbar*/
.container-fluid {
	padding: 0 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	max-width: 100vw;
	line-height: 3em;
}

.main-info-header {
	justify-items: center;
	align-items: center;
}

.text-start {
	margin-right: auto;
	width: 18%;
}

.text-center {
	width: 40%;
}

.text-end{
	width: 20%;
	margin-left: auto;
	margin-top: auto!important;
	margin-bottom: auto!important;
}

#diff-letter {
	border: 2px solid var(--intense-red);
	border-radius: 5px;
	background-color: var(--intense-red);
	color: var(--light-bc);
	padding: 0 .2em;
	margin-right: 3px;
	font-size: 3.9rem;
}

.custom-button + .custom-button {
	margin-left: .5em;
}

.custom-button {
    padding: .4em 1em;	
    border-radius: 7px;
    /*box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);*/
    width: fit-content;
    transition-duration: .25s;
    color: var(--dark);
	position: relative;
	font-weight: bolder;
	border: 3px solid var(--intense-red);
	font-weight: 900;
	text-decoration: none;
}

#btn-game-left:hover,
#btn-game-right:hover {
	background-color: var(--intense-red);
	color: var(--light-bc);
	transition: background-color 1s ease-in-out;
}

/* -------------------Footer*/
.info-footer {
	background-color: var(--dark);
	color: var(--light-bc);
	text-align: center;
}

/* -------------------- Game / Index */

.game-container {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.message-container {
	height: 30px;
	width: 120px;
	background-color: var(--light-pink);
	color: var(--dark);
	font-family: 'Merriweather', serif;
}

.title-container {
	text-align: center;
	width: 510px;
	border-bottom: solid 1px #D6D6D6;
}

.tile-container {
	width: 330px;
	margin-bottom: 38px;
	flex-wrap: wrap;
	padding: 1.5em;
	border-radius: 3%;
	background-color: rgb(255, 182, 193, 0.2);
}

.key-container {
	width: 510px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.key-container button {
	width: 43px;
	height: 58px;
	border-radius: 4px;
	border: none;
	background-color: var(--silver-pink);
	color: var(--dark);
	font-size: 1.12rem;
	margin: 4px;
}

.key-container button:nth-child(21),
.key-container button:nth-child(28) {
	width: 80px;
	height: 58px;
	border-radius: 10%;
}

.tile-container div {
	display: flex;
}

.tile-container .tile {
	width: 70px;
	height: 62px;
	border-radius: 5%;
	border: 2px solid var(--dark);
	margin: 4px 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* -------------------- Developer Page */
.developer-container {
	min-height: calc(100vh - 100px)
}

.card-custom {
	position: relative;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .35),
				inset 2px 2px 4px rgba(51, 51, 51, 0.493),
				inset -2px -2px 4px rgba(51, 51, 51, 0.493),
				inset 2px -2px 4px rgba(51, 51, 51, 0.493),
				-2px -2px 4px rgba(51, 51, 51, 0.699);
	border-color: #961146;
	border-width: 2px;
	border-radius: 10px;
	color: #a7a7a7;
}

.card-height {
	height: 25rem;
}

.card-filter {
	position: absolute;
	height: 100%;
	width: 100%;
	box-shadow:inset 2px 2px 4px rgba(51, 51, 51, 0.75),
				inset -2px 0px 4px rgba(51, 51, 51, 0.75);
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.card-custom img{
	/* max-height:5rem; */
	/* border-bottom: 1px solid #230005; */

	border-top-right-radius: 8px;
	border-top-left-radius: 8px;

}

.name-text {
	color: #444;
	text-shadow: -2px -2px 2px #faedc693,
				1px 1px 0px #ffadbb,
				2px 2px 1px rgba(0, 0, 0, .55);
}

.info-text {
	color: #230005;
	text-shadow:
	 /* -2px -2px 2px #faedc65b */
				1px 1px 2px #747474
				/* 2px 2px 1px rgba(0, 0, 0, .75), */
				/* 3px 3px rgba(0, 0, 0, 0.452) */
				;
	color: #010203;
	text-shadow: 1px 1px 2px #747474;
}